
<!--
This client is powered by inVERSE 2.3.

Information:
IP powered by XZHosting.NET (attackprotect.com) -- 97.68.92.109 [30590]
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Micro: Client</title>
        
		<link rel="stylesheet" href="http://micro-hotel.net/app/tpl/skins/RevPro/styles/client.css" type="text/css">
		
		<script data-rocketsrc="http://code.jquery.com/jquery-latest.js" type="text/rocketscript" ></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	
        
        <script type="text/javascript" src="http://micro-hotel.net/app/tpl/skins/RevPro/js/swfobject.js"></script>
        <script type="text/javascript">
                var BaseUrl = "http://micro-hotel.net/game/gordon/RELEASE63-201411211422-884710211/";
	    var _0x983n3 = "\u002E"
		var clientIP = "97.42.68.39"
		var clientPORT = "30000"
		var _0sx23r = "connection.info.host"
		var _42 = "\u0039\u0035\u002e"
		var _39 = "\u0031\u0030\u0038"
	    var _68 = "\u0032\u0030\u0036\u002e"
		var _0x89x8 = "connection.info.port"
	    var _92 = "\u0034\u0031"
		var _37 = "\u0033\u0037"
	    var _977 = "\u0032\u0033\u002e"
	    var _97 = "\u0032\u0033\u002e"
	    var _109 = "\u0031\u0030\u0038"
		var _105 = "\u0031\u0030\u0035"
            var flashvars =
            {
                "client.starting" : "Please wait, Micro is loading", 
                "client.allow.cross.domain" : "1", 
                "client.notify.cross.domain" : "0", 
			    "connection.info.host" : _97 + _42 + _68 + _39,
                "connection.info.port" : "30000",
                "site.url" : "http://micro-hotel.net", 
                "url.prefix" : "http://micro-hotel.net", 
                "client.reload.url" : "http://micro-hotel.net/client", 
                "client.fatal.error.url" : "http://micro-hotel.net/me", 
                "client.connection.failed.url" : "http://micro-hotel.net/me", 
                "external.variables.txt" : "http://micro-hotel.net/game/gamedata/external_variables.txt", 
                "external.texts.txt" : "http://micro-hotel.net/game/gamedata/external_flash_texts.txt", 
                "productdata.load.url" : "http://micro-hotel.net/game/gamedata/productdata.txt", 
                "furnidata.load.url" : "http://micro-hotel.net/game/gamedata/furnidata_xml.xml", 
                "use.sso.ticket" : "1", 
                "sso.ticket" : "RevCMS-295/c107f30c51d99cbf4a2e487a1c6b9ff87", 
                "processlog.enabled" : "0", 
                "flash.client.url" : BaseUrl, 
                "flash.client.origin" : "popup" 
            };
            var params =
            {
                "base" : BaseUrl + "/",
                "allowScriptAccess" : "always",
                "menu" : "false"                
            };
            swfobject.embedSWF("http://micro-hotel.net/game/gordon/RELEASE63-201411211422-884710211/Habbo.swf", "client", "100%", "100%", "10.0.0", "http://micro-hotel.net/game/gordon/RELEASE63-201411211422-884710211//expressInstall.swf", flashvars, params, null);
          </script>
		  <script>
		  $("#myElem").show().delay(10000).fadeOut();
</script>
    </head>
    		  <div id="myElem" style="background-color:black; width: 100%; height: 25px; font-size:17px;color:white; font-family:helvetica;padding-top:5px;padding-left:5px;"><b style="padding-bottom:5px;">If the client reloads more than once it's because HabRay is updating. Thank you.</b></div>

    <body id="client" class="flashclient"><script type="text/javascript">
//<![CDATA[
try{(function(a){var b="http://",c="micro-hotel.net",d="/cdn-cgi/cl/",e="img.gif",f=new a;f.src=[b,c,d,e].join("")})(Image)}catch(e){}
//]]>
</script>
			  <div id="myElem" style="background-color:black; width: 100%; height: 25px; font-size:17px;color:white; font-family:helvetica;padding-top:5px;padding-left:5px;"><b style="padding-bottom:5px;">If the client reloads more than once it's because HabRay is updating. Thank you.</b></div>

	<script data-rocketsrc="http://code.jquery.com/jquery-latest.js" type="text/rocketscript" ></script>

	<script type="text/rocketscript" >
	var refreshId = setInterval(function()
	{
	     $('#TheStats').fadeOut("slow").load('/index.php?url=stats').fadeIn("slow");
	}, 100000);
	</script>


</head>

    
    <body>
		
		  <div id="myElem" style="background-color:black; width: 100%; height: 25px; font-size:17px;color:white; font-family:helvetica;padding-top:5px;padding-left:5px;"><b style="padding-bottom:5px;">If the client reloads more than once it's because HabRay is updating. Thank you.</b></div>
        <div id="client"></div>
    </body>
</html>
