<!DOCTYPE HTML>
<html>

<head>
    <title>Roadbeam</title>
    <link rel="icon" href="http://pixelarity.com/assets/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/apple-touch-icon-precomposed.png" />
    <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="http://pixelarity.com/assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="http://pixelarity.com/assets/css/noscript.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
    <script src="http://pixelarity.com/assets/js/jquery.min.js"></script>
    <script src="http://pixelarity.com/assets/js/skel.min.js"></script>
    <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="hhttp://pixelarity.com/assets/js/main.js"></script>
</head>

<body class="page-item invert is-loading">
    <div id="wrapper">
        <article id="details" class="overlap">
            <div class="inner">
                <div class="cols">
                    <div class="info"><a href="/" class="back button alt small icon icon-left">Back</a>
                        <h1>Road Beam</h1>
                        <p class="note footnote">Includes HTML files, stylesheets, supporting images/JS assets, mockup/asset PSDs, and Sass sources. Demo images courtesy of <a href="http://unsplash.com" class="offsite">Unsplash</a>.</p>
                    </div>
                    <div class="features">
                        <dl class="style2"><dt>Recommended for</dt>
                            <dd>Anything</dd><dt>Color Schemes</dt>
                            <dd>
                                <ul class="scheme">
                                    <li style="background-color: #64a9e9;">#64a9e9</li>
                                    <li style="background-color: #e6e8eb;">#e6e8eb</li>
                                    <li style="background-color: #ffffff;">#ffffff</li>
                                </ul> &nbsp;
                                <ul class="scheme">
                                    <li style="background-color: #58cfca;">#58cfca</li>
                                    <li style="background-color: #e6e8eb;">#e6e8eb</li>
                                    <li style="background-color: #ffffff;">#ffffff</li>
                                </ul> &nbsp;
                                <ul class="scheme">
                                    <li style="background-color: #e0749a;">#e0749a</li>
                                    <li style="background-color: #e6e8eb;">#e6e8eb</li>
                                    <li style="background-color: #ffffff;">#ffffff</li>
                                </ul> &nbsp;
                                <ul class="scheme">
                                    <li style="background-color: #6ec27e;">#6ec27e</li>
                                    <li style="background-color: #e6e8eb;">#e6e8eb</li>
                                    <li style="background-color: #ffffff;">#ffffff</li>
                                </ul>
                            </dd><dt>Page Layouts</dt>
                            <dd><a href="#" class="layout" data-href="index">Homepage</a>
                            </dd><dt>Extra Features</dt>
                            <dd>Slider</dd>
                        </dl>
                    </div>
                    <div class="actions">
                        <ul>
                            <li><a href="/signup" class="download button big fit">Sign Up + Download</a>
                            </li>
                            <li>
                                <div class="caption">
                                    <p class="message"><a href="/signup">Sign up</a> for an account and get access
                                        <br /> to all <strong>71</strong> templates (including this one :)</p>
                                    <p class="note">(Already have an account? <a href="/login">Log in</a>)</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="controls">
                <ul class="schemes switcher">
                    <li class="active" data-href="/items/demos/split-screen/blue">
                        <ul class="scheme">
                            <li style="background-color: #64a9e9;">#64a9e9</li>
                            <li style="background-color: #e6e8eb;">#e6e8eb</li>
                            <li style="background-color: #ffffff;">#ffffff</li>
                        </ul>
                    </li>
                    <li data-href="/items/demos/split-screen/cyan">
                        <ul class="scheme">
                            <li style="background-color: #58cfca;">#58cfca</li>
                            <li style="background-color: #e6e8eb;">#e6e8eb</li>
                            <li style="background-color: #ffffff;">#ffffff</li>
                        </ul>
                    </li>
                    <li data-href="/items/demos/split-screen/magenta">
                        <ul class="scheme">
                            <li style="background-color: #e0749a;">#e0749a</li>
                            <li style="background-color: #e6e8eb;">#e6e8eb</li>
                            <li style="background-color: #ffffff;">#ffffff</li>
                        </ul>
                    </li>
                    <li data-href="/items/demos/split-screen/green">
                        <ul class="scheme">
                            <li style="background-color: #6ec27e;">#6ec27e</li>
                            <li style="background-color: #e6e8eb;">#e6e8eb</li>
                            <li style="background-color: #ffffff;">#ffffff</li>
                        </ul>
                    </li>
                </ul>
                <ul class="views switcher">
                    <li class="popout"></li>
                    <li class="active" data-width="100%" data-height="100%">Desktop</li>
                    <li data-width="1080" data-height="680">Tablet</li>
                    <li data-width="360" data-height="568">Mobile</li>
                </ul><span class="minimize"></span>
            </div>
        </article>
        <div id="iframe-wrapper"></div>
    </div>
</body>

</html>